<main role="main" class="container">

  <div class="my-3 p-3 bg-white shadow-lg p-3 mb-5 rounded">
    <h6 class="border-bottom border-gray pb-2 mb-0">Preguntas</h6>
    <% @questions.each do |question| %>
    <div class="media text-muted pt-3 col-md-12">
      <div class="col-md-1">
        <h6>votos</h6>
        <a href="#" class="btn btn-outline-success btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"><%= question.votes.count %></a>
      </div>
      <div class="col-md-1">
        <h6>anotacion</h6>
        <a href="#" class="btn btn-outline-success btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"><%= question.comments.count %></a>
      </div>
      <div class="col-md-1"> 
        <h6>Respuestas</h6>
        <a href="#" class="btn btn-outline-success btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"><%= question.answers.count %></a>
      </div>
      <div class="col-md-9">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-truncate">
          <strong class="d-block text-gray-dark"><%= link_to question.name.upcase, question %></strong>
          <strong class="d-block text-gray-dark"><%= question.created_at.strftime("%Y-%m-%d(%T)") %>  by <%= question.user.email %></strong>
          <%= question.body %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</main>