   	<div class="container">
   		<div class="row">
   			<div class="col-sm-6 offset-sm-3">
   				<h1>Publicar Pregunta</h1>
           <% if @question.errors.any? %>
           <div class="alert alert-danger">
             <ul>
              <% @question.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <%= form_for @question do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: "form-control input-lg", placeholder: "ingresa el titulo de la pregunta" %>
          </div>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control input-lg", placeholder: "ingresa la pregunta" %>
          </div>
          <div>
            <%= f.submit "Publicar", class: "btn btn-primary btn-lg btn-block" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>