
<div class="text-center col-md-6 offset-md-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <img class="mb-4" src="https://www.stackoverflowbusiness.com/hubfs/B2B-SO/images/logo-so-PRINT-4.png" alt="" width="60%" height="10%">
  <h6>Copia</h6>
  <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo", class: "form-control" %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "new-password", placeholder: "Contraseña",class: "form-control" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repetir Contraseña",class: "form-control" %>

  <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
